<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example - example-guide-concepts-1-production</title>
  

  <script src="/bower_components/angular/angular.js"></script>
  
  
</head>
<body >
  <div ng-init="fname;lname;dob;gender;age" ng-app="eitApp" ng-controller="ageCtrl">
  <b>EIT Info</b>
  <div>
    Firstname: <input type="text" ng-model="fname">
  </div>
  <div>
    Lastname: <input type="text" ng-model="lname">
  </div>
  <div>
    Date of birth: <input type="date" ng-model="dob" placeholder="yyyy-MM-dd" default=1111-1-11>
  </div>
  <div>
    Gender: <input type="text" ng-model="gender" >
  </div>
  <div ng-controller="nameCtrl">
    <b>Details:</b><br>     
    <tt> Full Name: {{ getName(fname,lname)}}</tt><br/>
    <tt> Gender: {{ gender }}</tt><br/>
    <tt>dob = {{ dob | date: "yyyy-MM-dd"}}</tt><br/>
    <tt>age = {{ getAge(dob)}}</tt><br/>
  </div>
  </div>
</body>

<script>
var app = angular.module('eitApp', []);


app.controller('ageCtrl', function($scope) {
  $scope.getAge = function(dob){
    var dob = new Date(dob);
    var today = new Date();
    var diff = Math.floor(today.getTime() - dob.getTime());
    var day = 1000 * 60 * 60 * 24;

    var days = Math.floor(diff/day);
    var months = Math.floor(days/31);
    var years = Math.floor(months/12);
    
    var response = "You are " + years + " years, " + months + " months, and " + days + " days old ";

    return response;
  }
});


// app.controller('ageCtrl', function($scope) {
//   $scope.getAge = function(dob){
//     var dob = new Date(dob);
//     var today = new Date();
//     var age = ((today - dob) / (31557600000));
//     var age = Math.floor( age );
//     return age;
//   }
// });
  
app.controller('nameCtrl', function($scope) {
  $scope.getName = function(fname="", lname=""){
    var fName = fname + " " + lname
    return fName;
  }
});


</script>
  
</html>

<!-- 
Copyright 2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->